.wrap {
  position: relative;
  width: 100%;
  // 擬似要素のbeforeにpaddingをパーセントで指定(パーセントの値はデザインに合わせて決める)することで
  // aspect比を保ちながらheightをレスポンシブに変動してくれる
  &:before {
    display: block;
    content: '';
    padding-top: 56.2%;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
